[submodule "modules/hosts/perikon"]
	path = modules/hosts/perikon
	url = git@github.com:Palerath/dotfiles-perikon.git
[submodule "modules/hosts/periserver"]
	path = modules/hosts/periserver
	url = git@github.com:Palerath/periserver.git
[submodule "modules/hosts/airhelie"]
	path = modules/hosts/airhelie
	url = git@github.com:Palerath/dotfiles-airhelie.git
[submodule "modules/hosts/latitude"]
	path = modules/hosts/latitude
	url = git@github.com:Palerath/dotfiles-latitude.git
[submodule "modules/hosts/linouce"]
	path = modules/hosts/linouce
	url = git@github.com:Palerath/dotfiles-linouce.git
[submodule "modules/users/perihelie"]
	path = modules/users/perihelie
	url = git@github.com:Palerath/dotfiles-perihelie.git
[submodule "modules/users/miyuyu"]
	path = modules/users/miyuyu
	url = git@github.com:Palerath/dotfiles-miyuyu.git
[submodule "modules/users/estelle"]
	path = modules/users/estelle
	url = git@github.com:Palerath/dotfiles-estelle.git
[submodule "modules/common/vim"]
	path = modules/common/vim
	url = git@github.com:Palerath/vim-config.git
