[submodule "users/estelle"]
	path = users/estelle
   url = git@github.com:Palerath/dotfiles-estelle
   update = none
[submodule "users/perihelie"]
	path = users/perihelie
   url = git@github.com:Palerath/dotfiles-perihelie
   update = none
[submodule "hosts/perikon"]
	path = hosts/perikon
   url = git@github.com:Palerath/dotfiles-perikon
   update = none
[submodule "hosts/linouce"]
	path = hosts/linouce
   url = git@github.com:Palerath/dotfiles-linouce
   update = none
